@model Books.Models.Book
@{
    ViewBag.Title = "Details";
}

<ul class="list-group list-group-flush">
    <li class="list-group-item bg-light text-dark font-weight-bold d-flex justify-content-between align-items-center">
        <span class="font-weight-bold">@Model.Title</span>
        <a herf="@Url.Action("Edit", "Books", new {id = Model.Id})" class="btn btn-dark">
            <i class="icofont-ui-edit"></i>
        </a>
    </li>
    <li class="list-group-item">@Model.Author</li>
    <li class="list-group-item">@Model.Category.Name</li>
    <li class="list-group-item">@Model.Description</li>
    <li class="list-group-item">@Model.AddedOn</li>

</ul>


